doctype html
html(lang="en")
head
	meta(charset="UTF-8")
	title Nodezi
	link(href='https://fonts.googleapis.com/css?family=Allerta|Montserrat' rel='stylesheet' type='text/css')
	link(rel="stylesheet", href="../public/css/layout.css")
body
	header(class="row middle around header")
		figure(class="col-9 header-contentImage")
			img(src="../public/images/logo.png", alt="", width="115" height="80")
		form(class="row")
			input(class="col-12" type="text"  placeholder="Buscar")

	block content




	footer(class="footer around row")
		article(class="col-9 footer-info")
			p
				| Desarrollo de aplicaciones web y moviles, servicios de seguridad informatica
			a(href="#") Terminos y Condiciones
		aside(class="row middle  footer-aside")
				a(href="#" class="icon-google-plus3")
				a(href="#" class="icon-facebook2")
				a(href="#" class="icon-whatsapp")
				a(href="#" class="icon-twitter")
				a(href="#" class="icon-youtube")
		article(class="col-12 center")
			p
				| Copyright Power By Nodezi
	script(src="../public/js/app.js")



	





		








