@import 'reticula.styl'
@import 'home/home.styl'
@import 'info/info.styl'
@import 'contact/contact.styl'
@import 'question/question.styl'



* {
  outline: 0;
}

body
	background #ECEFF1

.headerr
  position: fixed;
  background: #FFF;
  width: 100%;
  z-index: 500;
  top: 0;
  left: 0;
  padding: 12px 0;
  border-bottom: 1px solid #cfd8dc;
  transition: all .3s ease-in-out;

.headerr img
  display: block;
  width: 180px;
  height 50px

.headerr .input-wrapper
  position relative

.right
  float: right!important;

.fa-search
  position: absolute;
  font-size: 22px;
  top: 11px;
  left: 6px;
  color: #607D8B;
  z-index: 9;

.mdi
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: translate(0,0);

.mdi-magnify:before
  content: "\f401";

.headerr .input-wrapper input {
  position: relative;
  z-index: 10;
  height: auto;
  margin: 5px 0 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: 0 0;
  border-bottom: 1px solid transparent;
  font-size: 16px;
  padding: 6px 28px 6px 34px;
  display: inline-block;
  width: 200px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-weight: 700;
  color: #546E7A;
}

.content-row
  position: relative;
  background: #eceff1;
  padding-top 80px

//MENU LEFT NAV
.menu-left
  position relative
  &-content
    padding-top 20px

.nav-list
  list-style none
  margin 0 0 24px

.nav-list a
  display: block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  color: #78909C;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  border-left: 3px solid #eceff1;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;

li a:hover
  background #E5E9EC
  border-left-color: #B0BEC5;

li .active
  border-left-color #00bcd4;
  color: #455A64;
  font-weight: 700;


.nav-list a img
  height: 18px;
  width: 18px;
  line-height: 1;
  margin-right: 6px;
  margin-top: -3px;

a img
  border: none;

img
   display: inline-block;




//MENU NAV


.list-nav li a
  display: block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  color: #78909C;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  border-left: 3px solid #eceff1;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;














.content-column
  padding-top: 20px;






@media screen and (max-width: 639.0px)
  .content-row
    padding-top 120px

@media only screen and (min-width: 1025px)
  .column, .columns
    position relative
    padding-left .9375rem
    padding-right .9375rem
    float left

@media only screen and (min-width: 641px)
  .medium-4
    width 33.33333%
  .medium-8
    width 66.66667%



.header1 .top-bar
  background white
  box-shadow 0 2px 3px -2px
  height 44px

.header1 .topbarDesktop
  background white
  height 70px

.header1 .contentBarDesktopLeft
  margin-left 50px

.header1 .contentBarDesktopRight
  margin-right 50px


.top-bar .content-top-bar
  height 40px
  margin-top -7px

.content-top-bar-large
  height 20px


.content-top-bar .smallLogo
  height 39px


.content-top-bar .smallBuscar
  margin-top 8px
  height 25px

.content-top-bar .smallMenu
  margin-top 13px
  height 17px

.header1 .icon-topbar
  margin 8px

header .sombraLine
  padding 1px

#formBuscar .container-3
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;


.container-3 input#search
  width: 300px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #262626;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
show-for-mediumnav
  color: #65737e;

.nav
  background #005995
  list-style none
  margin 0
  max-height 50px
.nav-item
  display inline-block
  margin-left 2em
  box-sizing border-box
  line-height 16px
.nav-item a
  color white
  font-size 1.1em
  font-family 'Open Sans'
  font-weight normal
  display block
  height 50px
  padding 12px
  border-top 5px solid transparent
.nav-item a:focus
  background white
  color #005995
  font-weight bold
  

  
.main-footer
  background white
  margin-top 10px
  padding 1em 0

.content
  font-family 'Rokkitt'
  color #005995
  font-weight bold

.terminos a
  color #32C5FC
  font-family 'Rokkitt'
  font-size 1.2em
  
.terminos:hover
    border-bottom 2px solid #C0DCE6

.copy
  color  #005995
  text-align center
		


//REDES

.redess a
  margin 0 .5em

.facebook
  color #3B5998
  font-size 2.5em !important

.twitter
  color #1B95E0
  font-size 2.5em !important

.google
  color #DA4B39
  font-size 2.5em !important

.skype
  color #00AFF0
  font-size 2.5em !important
