.questionSection
	margin .5em 2em
	&-title
		text-align center
		font-famiy 'Allerta'
		color #068FCE
		font-weigth bold
		text-decoration underline
	&-description
		border 2px solid #D4D4D4
		padding 1em .5em
		margin .4em 0
		color #068FCE
		font-size 1.2em
	&-content
		color #273B47
		display none
		
		
	span
		color #273B47
		float right
		font-weigth bold
		
	