.loading
	position fixed
	left 0
.content-loading
	width 173px
	height 173px
	background white
	border-radius 50%
	border 15px solid #E5E5E5
	position relative
	top 17%
	margin-left 40%
	border 10px solid #E5E5E5;
.porcentaje
		color #1ECD97
		font-size 2.4em
		font-weight bold
		position relative
		bottom 120px
		left 70px
		

.form
	border 3px dashed #75BA3C
	max-width 850px
	background  #F9F9F9
	margin-left 40%
	padding 2em .5em
	// label,input
	// 	display block
	// 	text-align left
	input
		padding .7em  2em
		outline 0
		border none
		margin 7px 0
		width 280px
		height 30px
		border-bottom 2px solid #1ECD97
	input[type="text"]:focus
		border 2px solid #1ECD97
		font-family 'Allerta'
		font-size 1em
		font-weight bold
	input[placeholder] 
		font-size 1em
		font-family 'Allerta'
		color #A8A8A8
	button
		background #1ECD97
		color white
		font-family 'Allerta'
		font-size 1em
		width  150px
		padding 1em 3em
		margin-top 2em
	textarea
		outline 0
		position relative
		border none
		width 340px
		height 220px
		margin 1em 0
		resize none
		border-bottom 2px solid #1ECD97
	textarea:focus
		border 2px solid #1ECD97
		font-family 'Allerta'
		font-size 1em
		font-weight bold
	textarea[placeholder] 
		font-size 1em
		font-family 'Allerta'
		
.contact
	// border 1px solid red
	position relative
	left 20px
	&-title
		color #1C3643
		font-family 'Allerta'
		font-size 1.8em
		// border 2px solid red
		display inline-block
		
	&-contentImage
		display inline-block
	
		


/*Helpers */

.error
	color #F62319
	font-family 'Allerta'
	margin-right  250px
	display block
	font-size .8em
.error1
	color #F62319
	font-family 'Allerta'
	margin-right  250px
	font-size .8em
	display block
	

.barra
	background red
	height 100px
	width 100px
	border-radius 50%


//SVG CIRCULO



//PRUEBA SVG

#container
	margin 0
	padding 0
	height 100%
	display table
	width 100%

.Demo
	display table-cell
	text-align center
	vertical-align middle


:root
	--progress-bg-color #ddd
	--progress-fg-color #2ecc40

.CircularProgress-Bg,
.CircularProgress-Fg
	fill none

.CircularProgress-Bg
	stroke var(--progress-bg-color)

.CircularProgress-Fg
	transition stroke-dashoffset .5s ease-in-out
	stroke var(--progress-fg-color)

.CircularProgress-Text
	font-family sans-serif
	font-size 30px
	fill var(--progress-fg-color)
	transform translate(0 50%)
