.view-info
	height 100%

.sectionInformation
	color white

.sectionInformation .imagenInformacion
	background-image: url("../../asset/images/fondoimg1.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment fixed
	background-size: cover;
	padding: 20px;


.sectionInformationDife
	background white


.info
	&-title
		color #273B47
		font-family 'Allerta' 
		border-bottom 2px dashed #00B84E
		padding-bottom .5em
	
.welcome
	margin 0 1em
	background white
	border-radius 10px
	&-contentImage
		max-width 400px
		img
			max-width 100%
	&-info
		color #273B47
		font-family 'Montserrat'
		font-size 1.2em
		text-shadow 0 0px 1.2px #273B47


.diferences
	&-list
		background white
		border-radius 10px
		li
			list-style none
			line-height 2.5em
			width 100%
		li:hover
			background #E9EAED
			
	&-title
		color #273B47
		font-family 'Allerta'
		padding-bottom .5em

.we
	&-title
		color #273B47
		font-family 'Allerta'
		border-bottom 2px dashed #00B84E
		padding-bottom .5em

	&-info
		color #273B47
		font-family 'Montserrat'
		font-size 1.2em
		text-shadow 0 0px 1.2px #273B47
		background white
		margin 0 2em
		padding 2em 0
		border-radius 10px
  


//MEDIAS QUERIES
@media screen and (max-width: 480px)
	.welcome
		&-info
			min-width 250px
	.diferences
		&-list
			min-width 250px
			li
				line-height 1.4em
	.we
		&-info
			p
				min-width 250px
		

			



 

		
		
			

